.topRegionStyle {
	height: 5vh;
	background-color: transparent;
}

.caseStudyStyle {
	height: 37.5vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageStyle {
	max-width: 100%; 
	max-height: 100%;
}
