.centre {
    text-align:center;
}

.case-study-description {
    font-family: 'Roboto Slab', serif;
    color: white;

    padding-top: 20px;
}

@media only screen and (min-width: 426px){
    .case-study-description{
        padding-top: 50px;
    }
}
