.Home {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    background-image: url(./home-background.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
