.centre {
    text-align:center;
}

.nexplore-case-study-description {
    font-family: 'Roboto Slab', serif;
    color: white;
}

@media only screen and (min-width: 426px){
    .nexplore-case-study-description{
        padding-top: 50px;
    }
}
