.Portfolio {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url("../images/portfolio_puffin_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 426px ) {
    .Portfolio{
        overflow: auto;
        height: 100%;
    }
}


